<a href="/hotel/{{_id}}/details" class="added-hotel">
            <img src="{{imageUrl}}" alt=""
                class="picture-added-hotel">
            <h3>{{city}}</h3>
            <span>Free rooms: {{rooms}}</span>
        </a>